      body {
        padding-top: 60px;
        padding-bottom: 40px;
        overflow-y: scroll;
        /*overflow:hidden;*/
      }
	  /*body:hover {
      	overflow-y: scroll;
      }*/     
      .sidebar-nav {
        padding: 9px 0;
      }      
      .sidebar-nav-fixed {
	      position:fixed;
	      top:60px;
	      width:21.97%;
	  }
	  #title2 {
	  	  display: none;
	  }	
	  #logo {
	  	  /*padding: 0px 5px 0px;*/
	  }
    
    #mainbody{
      min-height:480px;
    }
    

    #profile_img {
      position: relative;
      top: 0;
      left: 0;
      min-width: 100%;
    }    
    
    /*LoadingDiv*/
    #LoadingDiv{
        position: fixed;
        _position: absolute;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        _height: expression(document.body.offsetHeight + "px");
        background-color: rgba(216, 216, 216, 0.5);
      }
      
    #Loading {
      top: 50%;
      width: 200px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    
    #Message {
      top: 50%;
    }
    /*IE will need an 'adjustment'*/
    * html #LoadingDiv{
         position: absolute;
         height: expression(document.body.scrollHeight &gt; document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
    }
  
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
	  
	  .navbar-text{
	  	margin-bottom: 0;
	  	margin-top: 10px;
	  	line-height: 40px;
	  	color: #777;
	  }
	  
	  .navbar-search{
	  	float: left;
	  	margin-top: 12px;
	  	margin-bottom: 0;
	  }
	  
	  #sketchDescription {
			width: 300px;
			height: 125px;
			resize: none;
	  }

	  #SaveSketch{
			height: auto;
			width: auto;
	  }
	  
	  #SaveSketch .well{			
			margin-bottom: 0px;  
	  }
	  
	  #SaveSketch .modal-body{			
			overflow-y: hidden; 
	  }	  	  

	  #SaveAsSketch{
			height: auto;
			width: auto;
	  }
	  
	  #SaveAsSketch .well{			
			margin-bottom: 0px;  
	  }
	  
	  #SaveAsSketch .modal-body{			
			overflow-y: hidden; 
	  }	  	  
	  

	  @media (max-width: 767px) {
	      .sidebar-nav-fixed {
	        position:static;
	        width:auto;
	      }
	      #topbar {
	      	padding-left: 20px;
	      	padding-right: 20px;
	      	position:fixed;
	      	width:auto;
	      }
        #mainbody{
          min-height:360px;
        }
	  }	
	  @media (max-width: 979px) {
	      .sidebar-nav-fixed {
	        top:70px;
	      }
	      #topbar {	      
	      	position:fixed;
	      	width:auto;
	      }
	      #main {
	      	overflow: hidden;
	      	padding-top:10px;
	      }
		  .navbar-text{
		  	margin-bottom: 0;
		  	margin-top: 0px;
		  	line-height: 40px;
		  	color: #777;
		  }
      #mainbody{
        min-height:420px;
      }
	  }
	  
	  textarea {
		  width: 100%;
		  padding: 1px;
		  border: 3px solid #999;
		  /*display: none;*/
	  }
	
	  #main {
      	  overflow: hidden;
	  }

      				
	  #visibleTextData { 
		  display: none;
	  }
	  
	  #swfcontainer {
	  	  width: 99%;	  	  
	  	  margin-top: 5px;
	  	  border: 2px solid #999;
	  	  -webkit-border-radius: 5px; /* Safari/Chrome, other WebKit */
		  -moz-border-radius: 5px;    /* Firefox, other Gecko */
		  border-radius: 5px;	  	  /* Opera/IE 8+ */ 
	  }