<!DOCTYPE html>
<html ng-app="myApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>K-Sketch: The Kinetic Sketch Pad!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    
    <!-- Additional styles for individual components -->
    <link href="css/additional.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.png">
                                   
    <!-- Code for K-Sketch App Plugin -->
    <!-- Enable Browser History by replacing useBrowserHistory tokens with two hyphens -->
    
    <!-- BEGIN Browser History required section -->
    <link rel="stylesheet" type="text/css" href="history/history.css" />
    <script type="text/javascript" src="history/history.js"></script>
    <!-- END Browser History required section -->  
    
    <script type="text/javascript" src="swfobject.js"></script>
    
    <!-- SWF Save/Load JS Code Go HERE! This was originally taken from "KSketchCallBacks.js". -->
    
    <!-- script type="text/javascript" src="KSketchCallBacks.js"></script -->
    <script type="text/javascript">


	//Function to trigger a save procedure in the flash object
	//The flash object will call saveKSketchFile in return to pass the data from itself to javascript
    function initSave() {
		var swfObject = document.getElementById('KSketch2_Web');
		if(typeof swfObject !='undefined'){
			swfObject.save();//change load

		}
		else
		{
			alert('the swf object does not exist! Unable to save');
		}	
    } 
    
	//Function to trigger a save procedure in the flash object
	//The flash object will call saveKSketchFile in return to pass the data from itself to javascript	
	function saveKSketchFile(fileData) {
     	//var textAreaObject = document.getElementById('visibleTextData');
		//textAreaObject.value = fileData;	

		e = document.getElementById('SaveAsSketch');
		scope = angular.element(e).scope();
		scope.$apply(function() {
			scope.setData(fileData);
		});	
	}

	//Don't care about this, it just allows this example to load a file from
	//The text area
	function initLoad() {
		var textAreaObject = document.getElementById('visibleTextData');
		if(typeof textAreaObject !='undefined'){
			//alert(fileData);
			//loadKSketchFile(fileData);
			loadKSketchFile(textAreaObject.value);
		}
		else
		{
			alert('no text area!');
		}	
	}
	
	//Clears the K-Sketch app to create a new file.
	function initNew() {
		
		e = document.getElementById('SaveAsSketch');
		scope = angular.element(e).scope();
		scope.$apply(function() {
			scope.setMeta("", "", "", "", "");
		});	
		var textAreaObject = document.getElementById('visibleTextData');
		textAreaObject.value = "";
		if(typeof textAreaObject !='undefined'){
			//alert(fileData);
			//loadKSketchFile(fileData);
			loadKSketchFile(textAreaObject.value);
		}
		else
		{
			alert('no text area!');
		}	
	}
	
	function searchSketch() {
		var hm = document.getElementById('hm');
		var sc = document.getElementById('sc');
		var cs = document.getElementById('cs');
		var vs = document.getElementById('vs');
		hm.className = vs.className.replace
	      		  ( /(?:^|\s)active(?!\S)/g , '' );
	    sc.className = vs.className.replace
			      ( /(?:^|\s)active(?!\S)/g , '' );
		cs.className = vs.className.replace
			      ( /(?:^|\s)active(?!\S)/g , '' );
		if (vs.className.search("active") == -1) {
			vs.className += "active";		
		}
	}

	//Loads the selected file from Search Sketch
	function fileLoad(sketchId, version, owner, fileName, fileData, permissions) {
		
		var cs = document.getElementById('cs');
		var vs = document.getElementById('vs');
		vs.className = vs.className.replace
			      ( /(?:^|\s)active(?!\S)/g , '' )
		cs.className += "active";
		
		var textAreaObject = document.getElementById('visibleTextData');
		textAreaObject.value = fileData;

		e = document.getElementById('SaveAsSketch');
		scope = angular.element(e).scope();
		scope.$apply(function() {
			scope.setMeta(sketchId, version, owner, fileName, permissions);
		});	
		
		//loadKSketchFile(fileData);
		loadKSketchFile(textAreaObject.value);
	}

	//Function receives an xml string from anywhere
	//and asks the flash object to load it	
	function loadKSketchFile(fileData) {
		var swfObject = document.getElementById('KSketch2_Web');
		if(typeof swfObject !='undefined'){
			swfObject.load(fileData);//change load
		}
		else
		{
			alert('the swf object does not exist! Unable to save');
		}	
	}
    </script>
    
    <!-- SWF Save/Load JS Code Go HERE! This was originally taken from "KSketchCallBacks.js". -->
    
    <!-- JS code for SWF plugin. DO NOT REMOVE. -->
    
    <script type="text/javascript">
        // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. 
        var swfVersionStr = "10.2.0";
        // To use express install, set to playerProductInstall.swf, otherwise the empty string. 
        var xiSwfUrlStr = "playerProductInstall.swf";
        var flashvars = {};
        var params = {};
        params.quality = "high";
        params.bgcolor = "#ffffff";
        params.allowScriptAccess = "always";
        params.allowfullscreen = "true";
        var attributes = {};
        attributes.id = "KSketch2_Web";
        attributes.name = "KSketch2_Web";
        attributes.align = "middle";
        swfobject.embedSWF(
            "KSketch2_Web.swf", "flashContent", 
            "100%", "580", 
            swfVersionStr, xiSwfUrlStr, 
            flashvars, params, attributes);
        // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
        swfobject.createCSS("#flashContent", "display:block;text-align:left;border:1px solid black;padding:1px");
    </script>
    
    <!-- JS code for SWF plugin. DO NOT REMOVE. -->
    
    <script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
  </head>
  
  <!-- body id="ksketchapp" ng-controller="LoginController" scrolling="no" -->
  <body id="ksketchapp"  scrolling="no">
  
  	<div ng-controller="CurrentIdController">
  	<div ng-controller="SketchController">
  	<!-- Top Bar -->
    <div id="topbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- a class="brand" id="logo" href="#"><img style="height:36px" src="ico/KSketch-logo.png"></a -->
          <a class="brand" id="logo" href="#">K-Sketch</a>
          <p class="navbar-text pull-left">
            <!--Username and profile link goes here.-->             
            Hello, <a href="#" class="navbar-link"><span id="heading">{{name}}</span></a>!
            <button id="authorize-button" class="button btn-inverse" onClick="handleAuthResult()">Login</button>
          </p>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="active">
                 <div class="navbar-search pull-right">
                   <input type="text" class="search-query" id="search" ng-model="search" placeholder="Search by sketch name or owner">
                   <a class="button btn-inverse" href="#ViewSketch" onClick="searchSketch()" data-toggle="tab">>></a>
                 </div>
			  </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

	<!-- Main Body -->
    <div class="container-fluid">
      <div class="row-fluid">
      	
      	<!-- Navigation Sidebar (Access separate panes). -->
        <div class="span3">
          <div class="well sidebar-nav sidebar-nav-fixed">
            <ul class="nav nav-list">
              <!--This changes depending on current logged-in status.-->
              
              <li id="hm" class="active"><a href="#Home" data-toggle="tab">Home</a></li>
              <li id="sc"><a href="#Sketchbook" data-toggle="tab">My Sketchbook</a></li>
              <li id="cs"><a href="#CreateSketch" data-toggle="tab">Create a Sketch</a></li>
              <li id="vs"><a href="#ViewSketch" data-toggle="tab">View a Sketch</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        <!-- Main Body -->
        <div class="span9">
        
        	<!-- Panes -->
        	<div class="tab-content" id="main">
        		
        		<!-- Home Pane -->
        		<div class="tab-pane active" id="Home">
		          <div class="hero-unit">
		            <h1 id="title1">Welcome to K-Sketch! </h1>
		            <br/>
		            <div class="row-fluid">
		            	<div class="span6">
		            		<iframe width="100%" height="250" src="http://www.youtube.com/embed/UYLR5Nf4mWs" frameborder="0" allowfullscreen></iframe>
		            	</div>
		            	<div class="span6">
		            		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		            		<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
		            	</div>
		            </div>            
		          </div>
		          <div class="row-fluid">
		            <div class="span4">
		              <h2>About K-Sketch</h2>
		              <p>K-Sketch allows ordinary computer users to create informal animations from sketches. The system has been highly tuned to allow a wide variety of animations to be made quickly and with little learning. A prototype of the system (for Windows only) and videos describing its use can be found on the <a href="www.k-sketch.org">K-Sketch website</a>. A new version of the system that runs on many platforms through a web browser will soon be released. This new version is being built to run in Adobe's Flash player and Adobe AIR.</p>
		              <p><a class="btn" href="#">Learn more &raquo;</a></p>
		            </div><!--/span-->
		            <div class="span4">
		              <h2>K-Sketch Developers</h2>
		              <p><a href="https://sourceforge.net/projects/k-sketch">Sourceforge</a></p>
		              <p><a href="http://www.k-sketch.org/indigo/#klector">K-Lector</a></p>
		              <p><a href="www.richardcdavis.com">Richard C. Davis</a> - Project Leader</p>
		              <p>Zhang Rui - Research Fellow</p>
		              <p>Guan Mengyuan - Research Fellow</p>
		              <p><a class="btn" href="#">Learn more &raquo;</a></p>
		            </div><!--/span-->
		            <div class="span4">
		              <h2>The Kinnovators!</h2>
		              <p>We at "The Kinnovators!" believe in facilitating the creative process. Our hope is that, by embarking on this project, we can help to create a community where creative ideas can be nurtured, and where said ideas can mingle and inspire others.</p>
		              <p><a href="https://wiki.smu.edu.sg/is480/IS480_Team_wiki:_2013T1_The_Kinnovators!">K-innovators Wiki</a></p>
		              <p><a class="btn" href="#">Learn more &raquo;</a></p>
		            </div><!--/span-->
		          </div><!--/row-->
		          <h2>Most Popular Sketches</h2>
		          <div class="row-fluid">
	            <div class="span4">
	              <h2>Lorem ipsum dolor</h2>
	              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	              <p><a class="btn" href="#">View Me! &raquo;</a></p>
	            </div><!--/span-->
	            <div class="span4">
	              <h2>Sit amet, consectetur</h2>
	              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	              <p><a class="btn" href="#">View Me! &raquo;</a></p>
	            </div><!--/span-->
	            <div class="span4">
	              <h2>Adipiscing elit.</h2>
	              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	              <p><a class="btn" href="#">View Me! &raquo;</a></p>
	            </div><!--/span-->
	          </div><!--/row-->
        		</div>
        		
        		<!-- Sketchbook Pane -->
        		<div class="tab-pane" id="Sketchbook">
        			<!-- Stuff goes here. -->
        			<!-- We have to think of a better name for this! -->
        			<div class="row-fluid">
        				<div class="container" ng-show="name=='Anonymous User'" id="guestSketchbook">
        					<h3>You are not logged in!</h3>
        					<h3>Please Login to K-Sketch in order to access this function!</h3>
        				</div>
        				<div class="container" ng-hide="name=='Anonymous User'"id="userSketchbook">
        					<div class="row-fluid">
        						<h2>About Me</h2>
        						<div class="row-fluid">
        							<div class="span4">
        								<div class="well">
        									*insert image here*
        								</div>
        							</div>
        							<div class="span7 offset1">
        								Name: {{name}}
        								Tag: {{etag}} <!-- This will be removed later! -->
        								Description: <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> 
        							</div>
        						</div>
        						
        					</div>
        					<div class="row-fluid">
        						<h2>My Sketches</h2>
			       				<table class="table table-bordered table-striped">
			       					<tbody>    					
				       					<tr ng-repeat="files in items.entities | filter:name">
			       							<td>{{files.data.sketchId}}</td>
			       							<td>{{files.data.owner}}</td>
			       							<!--  td>{{files.id}}</td-->
			       							<td>{{files.data.original}}</td>       							
			        						<td><a href="#CreateSketch" data-toggle="tab" onClick="fileLoad('{{files.data.sketchId}}', '{{files.data.version}}', '{{files.data.owner}}', '{{files.data.fileName}}', '{{files.data.fileData}}', '{{files.data.permissions}}')">{{files.data.fileName}}</a></td>
			        						<!-- td><input type="text" value="{{files.data.fileData}}"/></td -->
			        						<td>{{files.data.changeDescription}}</td>
				       					</tr>
			       					</tbody>
			       				</table>        						
        					</div>
        				</div>
          				<!-- script type="text/javascript">
        					if ("{{name}}" == "Anonymous User" && "{{etag}}" == "") {
        						document.getElementById('guestSketchbook').style.display="none";
        						document.getElementById('userSketchbook').style.display="block";
        					} else {
        						document.getElementById('guestSketchbook').style.display="block";
        						document.getElementById('userSketchbook').style.display="none";
        					}
        				</script -->    				
        			</div>
        		</div>
        		
        		<!-- Create Sketch Pane -->
        		<div class="tab-pane" id="CreateSketch">
					<!-- Stuff goes here. -->
					<div class="row-fluid">
						<div class="row-fluid">
							<div class="span6">
								<button class="btn btn-inverse btn-small" onclick="initNew()">New</button>															
								<button class="btn btn-inverse btn-small" onclick="initSave()" data-toggle="modal" href="#SaveSketch" ng-hide="fileName==''">Save</button> 
					        	<button class="btn btn-inverse btn-small" onclick="initSave()" data-toggle="modal" href="#SaveAsSketch">Save As</button>
					            <button class="btn btn-inverse btn-small" onclick="initLoad()">Load/Revert</button>
					            <input type="text" id="visibleTextData" ng-model="fileData">
				        	</div>
				        	<div class="span6">
				        		{{fileName}} (version {{version}}) by {{owner}} [{{item.currentId}}]
				        	</div>				        	
				        </div>
				        
				        <!-- Container for SWF Plugin - DO NOT REMOVE! -->
				        
				        <div id="swfcontainer">
		        			<div id="flashContent">
					            <p>
					                To view this page ensure that Adobe Flash Player version 
					                10.2.0 or greater is installed. 
					            </p>
					            <script type="text/javascript"> 
					                var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://"); 
					                document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" 
					                                + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" ); 
					            </script> 
					        </div>
					        <noscript>
					            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="580" id="KSketch2_Web">
					                <param name="movie" value="KSketch2_Web.swf" />
					                <param name="quality" value="high" />
					                <param name="bgcolor" value="#ffffff" />
					                <param name="allowScriptAccess" value="always" />
					                <param name="allowFullScreen" value="true" />
					                <!--[if !IE]>-->
					                <object type="application/x-shockwave-flash" width="100%" height="580" data="KSketch2_Web.swf">
					                    <param name="quality" value="high" />
					                    <param name="bgcolor" value="#ffffff" />
					                    <param name="allowScriptAccess" value="always" />
					                    <param name="allowFullScreen" value="true" />
					                <!--<![endif]-->
					                <!--[if gte IE 6]>-->
					                    <p> 
					                        Either scripts and active content are not permitted to run or Adobe Flash Player version
					                        10.2.0 or greater is not installed.
					                    </p>
					                <!--<![endif]-->
					                    <a href="http://www.adobe.com/go/getflashplayer">
					                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
					                    </a>
					                <!--[if !IE]>-->
					                </object>
					                <!--<![endif]-->
					            </object>
					        </noscript>
					    </div>		
					    
				        <!-- Dialog Box for Save As functionality (saving as different file). -->
					    		    					   
					    <div class="modal hide fade in" id="SaveAsSketch" style="display:none">
					    	<div class="modal-header">
								<a class="close" data-dismiss="modal">x</a>
								<h3 id="myUploadItems">Save Sketch</h3>
							</div>
							<div class="modal-body">
								<div class="row-fluid">
									<div class="span6">
										<div class="control-group">
											<label class="control-label" for="sketchName">Sketch Name</label>
											<div class="controls">
										  		<input type="text" ng-model="fileName" id="sketchName"/>
											</div>
											<div class="controls">
										  		<textarea style="width: 200px; height: 112px; resize: none;" disabled>*thumbnail goes here*</textarea>
											</div>
											<label class="control-label" for="sketchDesc">Enter a description for this change (optional)</label>
											<div class="controls">
										  		<textarea ng-model="changeDescription" id="sketchDescription"></textarea>
											</div>
										</div>
									</div>
									<div class="span5 offset1" id="permissions">
										<div class="well well-small">
											<div class="control-group">
												<label class="control-label" for="sketchView">Who can view this?</label>
												<div class="controls">
											  		<input type="radio" name="sketchView" value="Public" checked/>Public<br/>
											  		<input type="radio" name="sketchView" value="Only Me"/>Only Me<br/>
											  		<input type="radio" name="sketchView" value="Specific Users"/>Specific Users 
											  		<input name="sketchView" disabled/>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="sketchEdit">Who can edit this?</label>
												<input type="radio" name="sketchEdit" value="Public" checked/>Public<br/>
										  		<input type="radio" name="sketchEdit" value="Only Me"/>Only Me<br/>
										  		<input type="radio" name="sketchEdit" value="Specific Users"/>Specific Users 
										  		<input name="sketchView" disabled/> 
											</div>
											<div class="control-group">
												<label class="control-label" for="sketchComment">Who can comment on this?</label>
												<input type="radio" name="sketchComment" value="Public" checked/>Public<br/>
										  		<input type="radio" name="sketchComment" value="Only Me"/>Only Me<br/>
										  		<input type="radio" name="sketchComment" value="Specific Users"/>Specific Users 
										  		<input name="sketchView" disabled/> 
											</div>
										</div>
									</div>
									<div class="control-group">
										<div class="controls">
										  <input type="submit" ng-click="saveAs()" value="Submit" data-dismiss="modal"/>
										</div>
									</div>	
								</div>																		
							</div>							
					    </div>
					    
					    <!-- Dialog Box for Save functionality (saving new version of existing file). -->
					    
					    <div class="modal hide fade in" id="SaveSketch" style="display:none">
					    	<div class="modal-header">
								<a class="close" data-dismiss="modal">x</a>
								<h3 id="myUploadItems">Save Sketch</h3>
							</div>
							<div class="modal-body">
								<div class="row-fluid">
									<div class="span6">
										<div class="control-group">
											<label class="control-label" for="sketchName">Sketch Name</label>
											<div class="controls">
										  		<span id="sketchName">{{fileName}}</span>
											</div>
											<div class="controls">
										  		<textarea style="width: 200px; height: 112px; resize: none;" disabled>*thumbnail goes here*</textarea>
											</div>
											<label class="control-label" for="sketchDesc">Enter a description for this change (optional)</label>
											<div class="controls">
										  		<textarea ng-model="changeDescription" id="sketchDescription"></textarea>
											</div>
										</div>
									</div>
									<div class="span5 offset1" id="permissions">
										<div class="well well-small">
											<div class="control-group">
												<label class="control-label" for="sketchView">Who can view this?</label>
												<div class="controls">
											  		<input type="radio" name="sketchView" value="Public" checked/>Public<br/>
											  		<input type="radio" name="sketchView" value="Only Me"/>Only Me<br/>
											  		<input type="radio" name="sketchView" value="Specific Users"/>Specific Users 
											  		<input name="sketchView" disabled/>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label" for="sketchEdit">Who can edit this?</label>
												<input type="radio" name="sketchEdit" value="Public" checked/>Public<br/>
										  		<input type="radio" name="sketchEdit" value="Only Me"/>Only Me<br/>
										  		<input type="radio" name="sketchEdit" value="Specific Users"/>Specific Users 
										  		<input name="sketchView" disabled/> 
											</div>
											<div class="control-group">
												<label class="control-label" for="sketchComment">Who can comment on this?</label>
												<input type="radio" name="sketchComment" value="Public" checked/>Public<br/>
										  		<input type="radio" name="sketchComment" value="Only Me"/>Only Me<br/>
										  		<input type="radio" name="sketchComment" value="Specific Users"/>Specific Users 
										  		<input name="sketchView" disabled/> 
											</div>
										</div>
									</div>
									<div class="control-group">
										<div class="controls">
										  <input type="submit" ng-click="save()" value="Submit" data-dismiss="modal"/>
										</div>
									</div>							
							   	</div>
						  	</div>       			       
					 	</div>
        			</div>
        		</div>
        		
        		<!-- View Sketch Pane -->
        		<div class="tab-pane" id="ViewSketch">
        			<!-- Stuff goes here. -->
        			<span style="display:none">{{fileData}}</span>       			
       				<table class="table table-bordered table-striped">
       					<tbody>    					
	       					<tr ng-repeat="files in items.entities | filter:query">
       							<td>{{files.data.sketchId}}</td>
       							<td>{{files.data.owner}}</td>
       							<td>{{files.data.version}}</td>
       							<td>{{files.data.original}}</td>       							
        						<td><a href="#CreateSketch" data-toggle="tab" onClick="fileLoad('{{files.data.sketchId}}', '{{files.data.version}}', '{{files.data.owner}}', '{{files.data.fileName}}', '{{files.data.fileData}}', '{{files.data.permissions}}')">{{files.data.fileName}}</a></td>
        						<!-- td><input type="text" value="{{files.data.fileData}}"/></td -->
        						<td>{{files.data.changeDescription}}</td>
	       					</tr>
       					</tbody>
       				</table>				
        		</div>
        	</div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Richard C. Davis 2013</p>
      </footer>

    </div><!--/.fluid-container-->

	</div>
	</div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="js/angular/login-controller.js"></script>
    <script src="js/angular/currentid-controller.js"></script>    
    <script src="js/angular/sketch-controller.js"></script>
    <script src="js/oauth2.js"></script>
    <!-- script src="js/angular-http-auth.js"></script -->
    <script src="js/app.js"></script>
    <!-- script src="../test/lib/angular/angular-mocks.js"></script -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>

  </body>
</html>